html {
	background-color: black;
	font-family: Verdana;
}

h1 {
	color: white;
	text-align: center;
	font-size: 50px;
}

h2 {
	color: white;
	font-weight: 300;
	font-size: 42px;
}

h4 {
	font-size: 21px;
	color: gray;
}

p, a {
	color: aquamarine;
	font-size: 16px;
	text-align: center;
}
 
#center {
	text-align: center;
}

.travel {
	font-size: 21px;
	color: gray;
}

.copy {
	color: gray;
	text-align: right;
}